body {
  /* margin: 0 50px 0 50px; */
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  position: relative;
}

.containerWrapper {
  width: auto;
  background-color: #E6ECF0;
  border-radius: 5px 5px 0px 0px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.containerWrapper:not(:last-child) {
  margin-right: 20px;
}

.containerWrapper .card:not(:last-child) {
  margin-bottom: 20px;

}

.assignee {
  background-color: #0013FE;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.mainHeader {
  display: flex;
  justify-content: center;
  height: 70px;
  color: #FFFFFF;
  background-color: #212cb5;
}

.mainHeader .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.mainHeader .menu div {
  padding: 20px 30px;
  cursor: pointer;
}

.mainHeader .menu div:hover {
  color: yellow;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.subBar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #E6ECF0;
}

.subBar .title {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.subBar .title h5 {
  margin-bottom: 0px;
}

.subBar .title span {
  margin-left: 10px;
  background-color: blue;
  color: white;
  padding: 1px 12px;
  border-radius: 5px;
}

.searchContainer {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 20px 0;
  width: max-content;
  border: 2px solid #E6ECF0;
  border-radius: 4px;
}

.searchContainer .search-bar {
  width: 318px;
  height: 40px;
  margin-left: 5px;
  border: 0;
  outline: none;
}

.card-title {
  font-size: 16px;
}

.cardType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.cardType .actions {
  display: flex;
}

.cardType .actions div {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #D5D5D5;
}

.cardType .actions div:last-child {
  margin-left: 10px;
}

.rounded-circle {
  height: 50px;
  border: 2px solid rgb(227, 222, 222);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainContainer2 {
  background-color: #eff0f3;
    border-radius: 5px 5px 0px 0px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.containerWrapper2 {
  border-radius: 5px 5px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.containerWrapper2:not(:last-child) {
  margin-right: 30px;
}
