.main {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: center;
  margin-top: 70px;
}

.main .container {
  width: inherit;
  font-size: 18px;
}

.container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.container .title h3 {
  font-weight: 400;
}

.container .logo {
  height: 50px;
  width: 60px;
  margin-bottom: 15px;
}

.login-form {
  border: 1px solid rgb(206, 202, 202);
  background-color: rgb(243, 246, 249);
  border-radius: 8px;
  padding: 30px;
}

.login-form button {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px !important;
}

.register-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 202, 202);
  border-radius: 8px;
  padding: 20px 30px;
  margin-top: 20px;
}

#error {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(206, 202, 202);
  border-radius: 8px;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: red;
}

#error .close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  cursor: pointer;
}

.register-link a {
  text-decoration-line: none;
  margin-left: 5px;
}

.register-link p {
  margin-bottom: 0px;
}
