

.taskMainContent {
  font-size: 17px;
  position: absolute;
  width: 40%;
  margin: auto;
  padding: 30px 40px;
  background-color: rgb(237, 239, 241);
  border-radius: 10px;
  z-index: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
}

.taskMainContent .title {
  display: flex;
  align-items: center;
}

.taskMainContent .title input {
  height: 50px;
  width: 350px;
  border: 2px solid #E6ECF0;
  border-radius: 4px;
  padding-left: 10px;
  outline: none;
}

.taskMainContent .title h5 {
  margin: 0px;
}

.taskMainContent .list {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #494848;

}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.content textarea {
  width: 350px;
  height: 200px;
  border: 2px solid #E6ECF0;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  right: 25px;
  top: 0px;
  cursor: pointer;
}

.close:hover{
  color: grey;
}

.action div {
  width: 140px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(221, 222, 228);
}

.action div:not(:last-child) {
  margin-bottom: 10px;
}

.cur {
  cursor: pointer;
}

#descp {
  font-weight: 500;
}
