.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  min-width: 250px;
  max-width: fit-content;
  margin-bottom: 30px;
  margin-right: 40px;

  border: 0px;
  border-radius: 2px;
  transform: translateY(100%);
  opacity: 0;

  transition:
    opacity 500ms,
    transform 500ms;
}

.toast.visible {
  transform: translateY(0);
  opacity: 1;
}

.toast-body {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: limegreen;
  color: blue;
  border-radius: 2px;
}
